@use '../visuals/scale/size';

.btn {
  --pb: #{size.$size-12};
  --pt: #{size.$size-12};

  font-size: size.$size-16;

  > .btn-icon {
    margin-right: 1em;
  }
}

.btn-case-study {
  .btn-icon {
    transform: translateY(-1px);
  }
}

.btn-view-live {
  .btn-icon {
    transform: translateY(-2px);
  }
}
