.link-primary,
.link-primary:hover,
.link-primary:visited {
  color: var(--primary);
}

.link-grey-1,
.link-grey-1:hover,
.link-grey-1:visited {
  color: var(--grey-1);
}

.link-grey-2,
.link-grey-2:hover,
.link-grey-2:visited {
  color: var(--grey-2);
}

.link-grey-3,
.link-grey-3:hover,
.link-grey-3:visited {
  color: var(--grey-3);
}

.link-grey-4,
.link-grey-4:hover,
.link-grey-4:visited {
  color: var(--grey-4);
}

.txt-primary {
  color: var(--primary);
}

.txt-grey-1 {
  color: var(--grey-1);
}

.txt-grey-2 {
  color: var(--grey-2);
}

.txt-grey-3 {
  color: var(--grey-3);
}

.txt-grey-4 {
  color: var(--grey-4);
}

.svg-primary {
  fill: var(--primary);
}

.svg-grey-1 {
  fill: var(--grey-1);
}

.svg-grey-2 {
  fill: var(--grey-2);
}

.svg-grey-3 {
  fill: var(--grey-3);
}

.svg-grey-4 {
  fill: var(--grey-4);
}
