@use 'grid';
@use 'size';

.grid-feed {
  margin-bottom: size.$size-27;
  margin-top: size.$size-211;

  > header {
    grid-column: span 2;

    .header-lg {
      transform: translateY(-17px);
    }
  }

  > .content {
    grid-column: 3/-1;
    grid-row: 1;
    list-style: none;
    transform: translateY(-7px);

    .item {
      display: flex;
      margin-bottom: size.$size-81;

      > a {
        text-decoration: none;

        &:hover > h2 {
          text-decoration: underline;
        }

        > .header-md {
          margin-bottom: size.$size-7;
        }

        > p {
          line-height: 1.25em;
          margin-bottom: size.$size-7;
          transform: translateY(-5px);
        }
      }
    }
  }
}

@media (max-width: size.$size-960) {
  .grid-feed {
    margin-top: size.$size-201;

    > header {
      .header-lg {
        margin-bottom: size.$size-30;
      }
    }

    > .content {
      grid-column: 1/4;
      grid-row-start: 2;

      .post {
        margin-bottom: size.$size-72;
      }
    }
  }
}

@media (max-width: size.$size-760) {
  .grid-feed {
    > .header {
      grid-column: 1/-1;
    }

    > .content {
      grid-column: 1/-1;
    }
  }
}

@media (max-width: size.$size-470) {
  .grid-feed {
    margin-bottom: size.$size-24;
    margin-top: 0;

    > header {
      .header-lg {
        margin-bottom: size.$size-32;
        transform: translateY(-15px);
      }
    }
  }
}
