@use 'size' as size;

@mixin grid-base {
  display: grid;
  grid-gap: size.$size-27;
}

.grid {
  @include grid-base;
  grid-template-columns: repeat(auto-fill, minmax(size.$size-159, 1fr));
}

@media (max-width: size.$size-470) {
  .grid {
    grid-gap: size.$size-24;
    grid-template-columns: 1fr;
  }
}
