@use 'visuals/color' as color;

/* stylelint-disable selector-class-pattern */
.logo_svg__ {
  &quad {
    fill: color.$k;
  }

  &tri {
    fill: color.$w;
  }
}

.dark .logo_svg__ {
  &quad {
    fill: color.$w;
  }

  &tri {
    fill: color.$k;
  }
}
/* stylelint-enable selector-class-pattern  */
