@use 'color' as color;
@use 'typography' as typography;

body {
  font: typography.$txt-body typography.$txt-font-family, Courier;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typography.$display-font-family, Courier;
  font-weight: typography.$bold;
}

p {
  line-height: typography.$txt-body-line-height;
  margin-bottom: typography.$txt-body-line-height;
}

a {
  color: color.$k;
}

ol {
  counter-reset: ordered-list;
  list-style: none;
  padding-left: 3em;
}

ol > li::before {
  content: '0' counter(featured-posts-list);
  left: -3em;
  position: absolute;
}

ol > li {
  counter-increment: featured-posts-list;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1161px;
}

.img-placeholder {
  background-color: color.$grey-b;
}
