@use './scale/color';
@use './scale/size';
@use './scale/typography';

body {
  background-color: var(--secondary);
  color: var(--primary);
  font: typography.$txt-roman size.$size-18 typography.$txt-font-family;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  margin-left: size.$size-27;
  margin-right: size.$size-27;
}

body.dark {
  --primary: #{color.$w};
  --secondary: #{color.$k};
  --grey-1: #{color.$grey-c};
  --grey-3: #{color.$grey-a};
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typography.$disp-font-family;
  font-weight: typography.$bold;
}

p {
  line-height: 1.5em;

  margin-bottom: 1.5em;
}

a,
a:hover,
a:visited {
  color: color.$k;
}

ol {
  counter-reset: ordered-list;
  list-style: none;

  padding-left: 3em;
}

ol > li::before {
  content: '0' counter(featured-posts-list);

  left: -3em;
  position: absolute;
}

ol > li {
  counter-increment: featured-posts-list;

  position: relative;
}

dt {
  font-weight: typography.$txt-medium;
}

dd {
  line-height: 1.5em;

  margin-bottom: 1.5em;
}

.container {
  margin: 0 auto;
  max-width: size.$size-1161;
}

.ss {
  > img {
    width: 100%;
  }

  > figcaption {
    font-size: size.$size-14;
    font-style: italic;

    margin-top: size.$size-14;
  }
}

@media (max-width: size.$size-470) {
  body {
    font-size: size.$size-16;

    margin-left: size.$size-18;
    margin-right: size.$size-18;
  }
}
