@use 'color' as color;
@use 'typography' as typography;

%transition {
  transition-duration: 2s;
  transition-property: background-color, color, fill;
  transition-timing-function: ease-out;
}

body {
  @extend %transition;
  font: typography.$txt-body typography.$txt-font-family, Courier;
  text-rendering: optimizeLegibility;
}

a,
path,
polygon,
rect {
  @extend %transition;
}

/* stylelint-disable selector-no-qualifying-type */
body.dark {
  background-color: color.$k;
  color: color.$w;
}
/* stylelint-enable selector-no-qualifying-type */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typography.$display-font-family, Courier;
  font-weight: typography.$bold;
}

p {
  line-height: typography.$txt-body-line-height;
  margin-bottom: typography.$txt-body-line-height;
}

a,
a:hover,
a:visited {
  color: color.$k;
}

ol {
  counter-reset: ordered-list;
  list-style: none;
  padding-left: 3em;
}

ol > li::before {
  content: '0' counter(featured-posts-list);
  left: -3em;
  position: absolute;
}

ol > li {
  counter-increment: featured-posts-list;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1161px;
}

/* TODO: remove */
.img-placeholder {
  background-color: color.$grey-b;
}

.blind-frame {
  display: block;
  position: relative;
}

.blind-frame > span {
  background-color: color.$w;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
