@use 'color' as color;

$txt-body: 18px;
$txt-body-line-height: 27px;

$display-font-family: neue-haas-grotesk-display, Courier;
$txt-font-family: neue-haas-grotesk-text, Courier;

$medium: 600;
$bold: 700;

$headline: 100px;

$txt-lg: 30px;
$txt-lg-line-height: 45px;

$txt-xs: 12px;

$cta-lg: 36px;

.headline {
  font-size: $headline;
  font-weight: $medium;
}

.header-md {
  font-size: $txt-lg;
  font-weight: $medium;
}

.tracked-header {
  font: $bold $txt-lg neue-haas-grotesk-display, Courier;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.txt-lg {
  color: color.$grey-a;
  font-size: $txt-lg;
  line-height: $txt-lg-line-height;
}

.txt-xs {
  font-size: $txt-xs;
}

@mixin txt-outline {
  color: transparent;
  -webkit-text-stroke: 1px color.$grey-d;
}

.txt-outline {
  @include txt-outline;
}
