@use 'color' as color;
@use 'size' as size;

$display-font-family: neue-haas-grotesk-display, 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
$txt-font-family: neue-haas-grotesk-text, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$txt-medium: 500;
$display-medium: 600;
$bold: 700;

.headline {
  font-size: size.$size-100;
  font-weight: $display-medium;
}

.header-lg {
  font-size: size.$size-63;
  font-weight: $display-medium;
}

.header-md {
  font-size: size.$size-30;
  font-weight: $display-medium;
}

.header-sm {
  font-size: size.$size-14;
  text-transform: uppercase;
}

.tracked-header {
  font-size: size.$size-30;
  font-weight: $bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.txt-lg {
  font-size: size.$size-30;
}

.txt-sm {
  font-size: size.$size-14;
}

.txt-xs {
  font-size: size.$size-12;
}

@mixin txt-outline {
  /* TODO: have color class handle this */
  color: transparent;
  -webkit-text-stroke: 1px color.$grey-d;
}

.txt-outline {
  @include txt-outline;
}
