@use './scale/color';
@use './scale/size';
@use './scale/typography';

.headline {
  font-size: size.$size-100;
  font-weight: typography.$disp-medium;
}

.tracked-header {
  font-size: size.$size-30;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.subtitle {
  font-size: size.$size-30;
  font-weight: typography.$disp-roman;
}

@mixin txt-outline {
  /* TODO: have color class handle this */
  color: transparent;
  -webkit-text-stroke: 1px color.$grey-d;
}

.txt-outline {
  @include txt-outline;
}

@media (max-width: size.$size-960) {
  .headline {
    font-size: size.$size-63;
  }
}

@media (max-width: size.$size-470) {
  .header-lg,
  .headline {
    font-size: size.$size-59;
  }

  .header-md {
    font-size: size.$size-20;
  }

  .tracked-header {
    font-size: size.$size-20;
  }

  .txt-lg {
    font-size: size.$size-20;
  }

  .txt-sm {
    font-size: size.$size-10;
  }
}
