<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (ga) { %><script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= ga %>');
    </script><% } %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%- title %> | Matt Lean</title>
    <style>body{font-family:'Courier New',Courier,monospace,TimesNewRoman,'Times New Roman',Times;max-width: 500px}#tableflip{font-size: 2em}</style>
  </head>
  <body>
    <h1><%- title %></h1>
    <p id="tableflip">(ノಠ益ಠ)ノ彡┻━┻</p>
    <p>The server unfortunately encountered an&nbsp;error!</p>
    <p>Refreshing the page might fix the issue, but it also might&nbsp;not.</p>
    <p>If you think a proper page should actually be here, contact me at <a href="mailto:matt@mattlean.com">matt@mattlean.com</a> to get it&nbsp;fixed!</p>
    <p><a href="https://mattlean.com">Click here to go to the main&nbsp;website.</a></p>
  </body>
</html>
