$k: #000;
$grey-a: #555;
$grey-b: #777;
$grey-c: #999;
$grey-d: #aaa;
$w: #fff;

:root {
  --c-primary: #{$k};
  --c-secondary: #{$w};
  --grey-1: #{$grey-a};
  --grey-2: #{$grey-b};
  --grey-3: #{$grey-c};
  --grey-4: #{$grey-d};
}

body.dark {
  --c-primary: #{color.$w};
  --c-secondary: #{color.$k};
  --grey-1: #{color.$grey-c};
  --grey-3: #{color.$grey-a};
}
