@use 'styles/util/gen';
@use '../scale/bp';
@use '../scale/size';
@use '../scale/typography';

$data: (
  dispw: (
    prop: font-weight,
    vals: (
      roman: typography.$disp-roman,
      medium: typography.$disp-medium,
      bold: typography.$bold,
    ),
  ),
  h: (
    prop: font-size,
    vals: (
      1: size.$size-100,
      2: size.$size-63,
      3: size.$size-59,
      4: size.$size-30,
      5: size.$size-24,
      6: size.$size-20,
      7: size.$size-18,
      8: size.$size-16,
      9: size.$size-14,
    ),
  ),
  txt: (
    prop: font-size,
    vals: (
      1: size.$size-10,
      2: size.$size-12,
      3: size.$size-14,
      4: size.$size-16,
      5: size.$size-18,
      6: size.$size-20,
      7: size.$size-30,
    ),
  ),
  txtw: (
    prop: font-weight,
    vals: (
      roman: typography.$txt-roman,
      medium: typography.$txt-medium,
      bold: typography.$bold,
    ),
  ),
);

@include gen.gen-classes($data);
