/* General */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: #0A0A0A;
  color: #FFF;
}

main {
  height: 100%;
}

main > .container:first-child {
  margin-top: 140px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

a {
  color: #09f;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:active, a:hover, a.active {
  color: #68C0FA;
}

button {
  padding: 16px 48px;
  border: 0;
  background-color: #09f;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

button:hover {
  background-color: #68C0FA;
  color: #eee;
  cursor: pointer;
}

hr {
  border: 2px solid #fff;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 6px;
}

/* Main Navigation */
#main-nav {
  max-width: 1400px;
  height: 90px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 24px;
}

#main-nav > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand */
#main-nav > div > a {
  font-weight: bold;
  text-transform: uppercase;
}

/* Main Nav Links */
#main-nav > div > ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

#main-nav > div > ul > li {
  margin-left: 20px;
  display: inline-block;
}

/* Main Footer */
#main-footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

#main-footer > p {
  float: right;
}

/* Home */
#home > #main-nav hr, #home > #main-nav > div > a, #home > #main-footer > hr {
  display: none;
}

#home > #main-nav > div {
  flex-direction: row-reverse;
}

#home > main > .container {
  height: 100vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home > main > .container > p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 60px;
}

/* Blog */
#blog main > .container > ul {
  padding-inline-start: 0;
}

#blog main > .container > ul > li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

#blog main > .container > ul > li:last-child {
  border-bottom: 0;
}

#blog main p {
  font-size: 24px;
}
