@use 'visuals/color';
@use 'visuals/size';

.badge {
  border: 1px solid color.$grey-b;
  border-radius: size.$size-20;
  color: color.$grey-b;
  display: inline-block;
  font-size: size.$size-12;
  padding: 0.5em 1em;
}

.badge-list {
  list-style: none;

  .badge {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: size.$size-470) {
  .badge {
    font-size: size.$size-10;
  }
}
