@use '../../visuals/scale/size';
@use '../../visuals/scale/typography';

.main-nav {
  align-items: flex-end;
  display: flex;
  height: size.$size-157;
  justify-content: space-between;
  margin-bottom: size.$size-27;

  .btn-nav {
    background: none;
    border: 0;
    cursor: pointer;

    vertical-align: middle;
  }

  > .btn-nav {
    display: none;
  }

  > .logo > svg {
    height: 44px;
  }

  > ul {
    background-color: var(--c-secondary);
    list-style: none;

    transform: translateX(3px);

    > li {
      display: inline-block;
      margin-left: size.$size-36;

      > a {
        color: var(--grey-1);
        letter-spacing: 0.1em;
        text-decoration: none;
      }

      > a:active,
      > a:hover,
      > .active {
        text-decoration: underline;
      }

      > .btn-nav {
        vertical-align: middle;

        > svg {
          width: 19.24px;
        }
      }
    }
  }
}

.sun-moon_svg {
  fill: var(--grey-1);

  &__moon {
    opacity: 1;
  }

  &__sun {
    opacity: 0;
  }
}

.dark .sun-moon_svg {
  &__moon {
    opacity: 0;
  }

  &__sun {
    opacity: 1;
  }
}

@media (max-width: size.$size-960) {
  .main-nav {
    height: size.$size-147;
  }
}

@media (max-width: size.$size-560) {
  .main-nav {
    > .logo.open {
      position: fixed;
      z-index: 3;
    }

    > .btn-nav {
      display: block;
      position: absolute;
      right: size.$size-27;
      z-index: 3;

      > svg {
        height: 44px;
      }
    }

    > ul {
      display: none;
      transform: none;

      &.open {
        bottom: 0;
        display: block;
        left: 0;
        padding-top: 233px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;

        > li {
          font: typography.$disp-medium size.$size-59
            typography.$disp-font-family;

          display: block;
          margin-bottom: size.$size-30;
          margin-left: size.$size-27;

          &:last-child {
            bottom: size.$size-18;
            margin-bottom: 0;
            position: absolute;
          }

          > a {
            color: var(--c-primary);
            letter-spacing: normal;
          }

          > .btn-nav {
            font-size: size.$size-20;

            vertical-align: bottom;

            > svg {
              height: 14.35px;
              margin-right: 1em;
            }
          }
        }
      }
    }
  }

  .sun-moon_svg {
    fill: var(--c-primary);
  }
}

@media (max-width: size.$size-470) {
  .main-nav {
    align-items: flex-start;
    height: size.$size-176;
    margin-bottom: size.$size-24;
    margin-top: size.$size-18;

    > .btn-nav {
      position: fixed;
      right: size.$size-18;
      top: size.$size-18;

      > svg {
        height: 18px;
      }
    }

    > .logo > svg {
      height: 18px;
    }

    > ul.open {
      padding-top: 91px;

      > li {
        margin-left: size.$size-18;
      }
    }
  }
}
