@use 'visuals/grid' as grid;
@use 'visuals/size' as size;

.grid-blog {
  margin-bottom: size.$size-27;
  margin-top: size.$size-184;

  > header {
    grid-column: 1/2;

    .header-lg {
      transform: translateY(-17px);
    }
  }

  > .content {
    grid-column: 3/-1;
    grid-row: 1;
    list-style: none;
    transform: translateY(-7px);

    .post {
      display: flex;
      margin-bottom: size.$size-81;

      > a {
        text-decoration: none;

        &:hover > h2 {
          text-decoration: underline;
        }

        > p {
          line-height: 1.25em;
          margin-bottom: 0;
          transform: translateY(-5px);
        }
      }
    }
  }
}

@media (max-width: size.$size-960) {
  .grid-blog {
    margin-bottom: size.$size-24;

    > header {
      .header-lg {
        margin-bottom: size.$size-30;
      }
    }

    > .content {
      grid-column: 1/4;
      grid-row-start: 2;

      .post {
        margin-bottom: size.$size-72;
      }
    }
  }
}

@media (max-width: size.$size-470) {
  > header {
    .header-lg {
      margin-bottom: size.$size-32;
      transform: translateY(-15px);
    }
  }
}
