@use 'visuals/grid' as grid;
@use 'visuals/size' as size;

.grid-blog {
  grid-template-rows: repeat(9, grid.$row-height);

  > header {
    grid-column: 1/2;
    grid-row: 2/3;

    .header-lg {
      transform: translateY(-17px);
    }
  }

  > .content {
    grid-column: 3/7;
    grid-row: 2/6;
    list-style: none;
    transform: translateY(-7px);

    .post {
      margin-bottom: size.$size-81;

      > a {
        text-decoration: none;

        &:hover > h2 {
          text-decoration: underline;
        }

        > p {
          margin-bottom: 0;
          transform: translateY(-5px);
        }
      }
    }
  }
}
