@use 'visuals/size' as size;

.grid-projects {
  margin-top: size.$size-184;

  > header {
    grid-column: 1/2;

    .header-lg {
      transform: translateY(-17px);
    }
  }

  > .content {
    grid-column: 3/-1;
    grid-row: 1;
    list-style: none;
    transform: translateY(-7px);

    > .project {
      margin-bottom: size.$size-81;

      > a {
        text-decoration: none;

        &:hover > h2 {
          text-decoration: underline;
        }

        > p {
          line-height: 1.25em;
          margin-bottom: 0;
          transform: translateY(-2px);
        }

        > .badge-list {
          margin-top: size.$size-7;
        }
      }
    }
  }
}
