@use '../../visuals/grid';
@use '../../visuals/scale/bp';
@use '../../visuals/scale/size';
@use '../../visuals/scale/typography';

.grid-landing {
  grid-template-rows: repeat(11, size.$size-157);
  margin-bottom: size.$size-27;
  margin-top: size.$size-211;

  > .subgrid-cover {
    grid-column: 1/-1;
    grid-row: 1/4;
    grid-template-rows: repeat(3, size.$size-157);

    > h1 {
      grid-column: 1/-1;
      transform: translate(-3px, -28px);
    }

    > p {
      grid-column: 1/5;
      transform: translateY(-81px);
    }

    > .blind-frame:last-child {
      grid-column: 1/5;
    }
  }

  > .featured-header {
    align-self: end;
    grid-column: 1/-1;

    &-projects {
      grid-row: 4/5;
    }

    &-case-studies {
      grid-row: 8/9;
    }
  }

  > .subgrid-featured {
    grid-column: 1/-1;
    grid-template-rows: repeat(3, size.$size-157);

    &.featured-projects {
      grid-row: 5/8;
    }

    > .subgrid-featured-item {
      grid-column: span 3;
      grid-row: 1/-1;
      grid-template-rows: repeat(3, size.$size-157);

      > .subgrid-featured-item-content {
        grid-column: 1/-1;
        grid-row: 1/-1;
        grid-template-rows: repeat(3, size.$size-157);

        > .blind-frame:first-child {
          grid-column: 1/-1;
          grid-row: 1/3;

          > img {
            object-fit: cover;

            height: 100%;
            width: 100%;
          }
        }

        > figcaption {
          grid-column: 1/-1;
          grid-row: 3/4;
        }
      }
    }
  }

  > .view-more {
    align-self: end;
    grid-column: 1/-1;
    justify-self: center;

    &-projects {
      grid-row: 7/8;
    }
  }
}

@media (max-width: size.$size-1150) {
  .grid-landing > .subgrid-featured {
    columns: 2;
    display: block !important;
  }
}

@media (max-width: size.$size-980) {
  .grid-landing > .subgrid-cover > p {
    grid-column: 1/5;
  }
}

@media (max-width: bp.$md) {
  .grid-landing {
    grid-template-rows: repeat(11, size.$size-147);
    margin-top: size.$size-201;

    > .subgrid-cover {
      grid-template-rows: repeat(3, size.$size-147);

      > h1 {
        transform: translate(-1px, -17px);
      }

      > p {
        grid-column: 1/4;
        transform: translateY(-100px);
      }
    }

    > .subgrid-featured {
      grid-template-rows: repeat(3, size.$size-147);
      > .subgrid-featured-item {
        grid-template-rows: repeat(3, size.$size-147);
        > .subgrid-featured-item-content {
          grid-template-rows: repeat(3, size.$size-147);
        }
      }
    }
  }
}

@media (max-width: size.$size-800) {
  .grid-landing > .subgrid-cover > p {
    grid-column: 1/-1;
  }
}

@media (max-width: size.$size-780) {
  .grid-landing {
    grid-template-rows: repeat(4, size.$size-147) auto;

    > .subgrid-featured {
      columns: auto;
      grid-row: 5/6;

      > .subgrid-featured-item {
        display: block !important;

        > .subgrid-featured-item-content {
          display: block !important;
        }
      }
    }

    > .view-more {
      align-self: end;
      justify-self: start;

      &-projects {
        grid-row: 6/7;
      }
    }
  }
}

@media (max-width: size.$size-630) {
  .grid-landing {
    > .subgrid-cover {
      display: block !important;

      > h1,
      > p {
        transform: none;
      }
    }
  }
}

@media (max-width: bp.$sm) {
  .grid-landing {
    grid-template-rows: repeat(3, size.$size-176) auto;
    margin-bottom: size.$size-24;
    margin-top: 0;

    > .featured-header {
      &-projects {
        grid-row: 3/4;
      }
    }

    > .subgrid-featured {
      &.featured-projects {
        grid-row: 4/6;
      }
    }

    > .view-more {
      &-projects {
        grid-row: 6/7;
      }
    }
  }
}
