@use '../../../visuals/scale/size';

.grid-project {
  > .project-content {
    > .btn-view-live {
      grid-column: 4/5;

      > .btn-icon {
        transform: translateY(-2px);
      }
    }

    > .btn-case-study {
      grid-column: 5/6;

      > .btn-icon {
        transform: translateY(-1px);
      }
    }

    > .ss-lg {
      grid-column: 1/-1;
      margin-bottom: size.$size-81;
      margin-top: size.$size-72;
    }

    .split-desc {
      margin-bottom: size.$size-81;
    }

    > .ss-sm {
      grid-column: span 3;
    }
  }
}
