@use '../../../visuals/scale/bp';
@use '../../../visuals/scale/size';

.grid-project-sot {
  > .ss-lg {
    margin-bottom: size.$size-81;
  }

  > .subgrid-mid-desc {
    margin-bottom: size.$size-81;

    > h3 {
      grid-column: span 3;
    }

    > p {
      grid-column: span 3/-1;
    }

    > .cta {
      grid-column: span 3/-1;
    }
  }

  > .btn-view-live {
    grid-column: 4/5;
    grid-row: 8/9;
  }

  > .btn-case-study {
    grid-column: 5/6;
    grid-row: 8/9;
  }

  > .subgrid-project-desc {
    > .btn-view-live {
      grid-column: 1/2;
    }

    > .btn-case-study {
      grid-column: 2/3;
    }
  }
}

@media (max-width: size.$size-1150) {
  .grid-project {
    > .btn-view-live {
      grid-row: 10/11;
    }

    > .btn-case-study {
      grid-row: 10/11;
    }

    > .subgrid-project-desc {
      > .btn-view-live {
        grid-column: 1/2;
      }

      > .btn-case-study {
        grid-column: 2/3;
      }
    }

    > .subgrid-mid-desc {
      > h3 {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: bp.$md) {
  .grid-project {
    > .subgrid-mid-desc {
      > h3,
      > p,
      > .cta {
        grid-column: span 3;
      }
    }

    > .btn-view-live {
      grid-column: 3/4;
    }

    > .btn-case-study {
      grid-column: 4/5;
    }
  }
}

@media (max-width: size.$size-780) {
  .grid-project {
    > .btn-view-live,
    > .btn-case-study {
      grid-column: auto;
      grid-row: 11/12;
    }
  }
}
