@use '../../../visuals/scale/bp';
@use '../../../visuals/scale/size';

.grid-project {
  > .subgrid-mid-desc {
    margin-bottom: size.$size-81;

    > h3 {
      grid-column: span 3;
    }

    > p {
      grid-column: span 3/-1;
    }

    > .cta {
      grid-column: span 3/-1;
    }
  }

  > .btn-view-live {
    grid-column: 3/4;
  }

  > .btn-case-study {
    grid-column: 4/5;
  }

  > .subgrid-project-desc {
    > .btn-view-live {
      grid-column: 1/2;
    }

    > .btn-case-study {
      grid-column: 2/3;
    }
  }
}

@media (max-width: size.$size-1150) {
  .grid-project {
    > .btn-view-live {
      grid-column: -2/-3;
    }

    > .btn-case-study {
      grid-column: -1/-2;
    }

    > .subgrid-project-desc {
      > .btn-view-live {
        grid-column: 1/2;
      }

      > .btn-case-study {
        grid-column: 2/3;
      }
    }

    > .subgrid-mid-desc {
      > h3 {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: bp.$md) {
  .grid-project {
    > .cover {
      transform: translateY(-16px);
    }

    > .subgrid-mid-desc {
      > h3,
      > p,
      > .cta {
        grid-column: span 3;
      }
    }
  }
}

@media (max-width: size.$size-780) {
  .grid-project {
    > .project-details-header {
      font-size: size.$size-24;
    }

    > .subgrid-project-details {
      grid-column: 1/-1;
    }

    > .btn-view-live,
    > .btn-case-study {
      grid-column: auto;
    }
  }
}

@media (max-width: bp.$sm) {
  .grid-project > .cover {
    margin-bottom: size.$size-59;
  }
}
