@use '../../../visuals/scale/bp';
@use '../../../visuals/scale/size';

.grid-project-lantern {
  > .btn-gh {
    grid-column: 4/5;
  }

  > .btn-npm {
    grid-column: 5/6;
  }
}

@media (max-width: bp.$md) {
  .grid-project-lantern {
    > .btn-gh {
      grid-column: 3/4;
    }

    > .btn-npm {
      grid-column: 4/5;
    }
  }
}

@media (max-width: size.$size-780) {
  .grid-project-lantern {
    > .btn-gh,
    > .btn-npm {
      grid-column: auto;
    }
  }
}
