$color: #fff;

body {
  font-family: neue-haas-grotesk-display, sans-serif;
}

h1 {
  font-weight: 600;
}

.headline {
  font-size: 100px;
}

.large-text {
  color: #555;
  font-size: 30px;
}

.container {
  width: 1161px;
}
