<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.typekit.net/qov4dzl.css" />
    <% if (NODE_ENV === 'production') { %>
    <link rel="stylesheet" href="/main.css" />
    <% } %>
    <title>MattLean.com</title>
  </head>
  <body>
    <div id="root"><% if (app) { %><%- app %><% } %></div>
    <script src="main.js"></script>
  </body>
</html>
