<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% if (desc) { %><meta name="description" content="<%= desc %>"><% } %>
    <% if (keywords) { %><meta name="keywords" content="<%= keywords.toString() %>"><% } %>
    <link rel="stylesheet" href="https://use.typekit.net/qov4dzl.css" />
    <% if (NODE_ENV === 'production') { %><link rel="stylesheet" href="/main.css" /><% } %>
    <title><% if (title) { %><%- title %><% } %></title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this website properly.</noscript>
    <div id="root"><% if (app) { %><%- app %><% } %></div>
    <script src="/main.js"></script><% if (NODE_ENV === 'development') { %><script src="/dev.js"></script><% } %>
  </body>
</html>
