@use '../../visuals/scale/size';
@use '../../visuals/scale/typography';

.cta {
  font-family: typography.$disp-font-family;
  text-decoration: none;

  display: inline-block;

  .cta-arrow {
    margin-left: 0.5em;
  }
}

.cta-lg {
  font-size: size.$size-36;
  font-weight: typography.$disp-medium;

  .cta-arrow {
    width: 34.74px;
  }
}

.cta-sm {
  font-size: 1rem;
  font-weight: typography.$bold !important;

  .cta-arrow {
    width: 17.3px;
  }
}

@media (max-width: size.$size-470) {
  .cta-lg {
    font-size: size.$size-24;

    .cta-arrow {
      width: 23.22px;
    }
  }
}
