@use 'visuals/size';
@use 'visuals/typography';

%cta {
  font-family: typography.$disp-font-family;
  text-decoration: none;
}

%cta-arrow {
  margin-left: 0.5em;
}

.cta-lg {
  @extend %cta;

  font-size: size.$size-36;
  font-weight: typography.$disp-medium;

  > svg {
    @extend %cta-arrow;

    width: 34.74px;
  }
}

.cta-sm {
  @extend %cta;

  font-size: size.$size-18;
  font-weight: typography.$bold;

  > svg {
    @extend %cta-arrow;

    width: 17.3px;
  }
}

@media (max-width: size.$size-470) {
  .cta-lg {
    font-size: size.$size-24;

    > svg {
      width: 23.22px;
    }
  }
}
