@use '../../../visuals/scale/size';

.grid-project-checkpoint {
  > .subgrid-project-desc {
    margin-bottom: size.$size-72;
  }

  > .project-details-header {
    grid-row: 3/4;
  }

  > .subgrid-project-details {
    grid-row: 3 / span 2;
    margin-bottom: 0;
  }
}

@media (max-width: size.$size-1150) {
  .grid-project-checkpoint {
    > .project-details-header {
      grid-row: 4/5;
    }

    > .subgrid-project-details {
      grid-column: 1/3;
      grid-row: 5/6;
    }
  }
}
